<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Protest+Strike&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/index/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/local_pvp/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/multi/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/multi/grid.css' %}">
    <link rel="icon" href="data:,">
    <title>Transcendence</title>
</head>

<body>
    <div class="grid">
        <header>
            <div class="main-title"></div>
        </header>
        <nav class="navbar">
            <div class="language-selection">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <select name="language" id="language-select" onchange="this.form.submit()">
                        <option value="" disabled selected>Language</option>
                        <option value="en">English</option>
                        <option value="ko">한국어</option>
                        <option value="fr">Français</option>
                    </select>
                </form>
            </div>
            <div class="navbar-list">
                <a href="/" class="navbar-list-item">Accueil</a>
                <a href="/local" class="navbar-list-item">Local</a>
                <a href="/local_3d" class="navbar-list-item">Local 3D</a>
                <a href="/tournament" class="navbar-list-item">Tournoi</a>
                <a href="/multi" class="navbar-list-item">Multi</a>
            </div>
        </nav>
        <main class="main-part" id="app"></main>
    </div>
    <script>
        const currentLanguage = "{{ request.LANGUAGE_CODE }}";
        document.addEventListener('DOMContentLoaded', () => {
            const languageSelect = document.getElementById('language-select');
            Array.from(languageSelect.options).forEach(option => {
                if (option.value === currentLanguage) {
                    option.selected = true;
                }
            });
        });
    </script>
    <script type="importmap">
                {
                    "imports": {
                        "three": "https://unpkg.com/three@0.108.0/build/three.module.js",
                        "GLTFLoader": "https://unpkg.com/three@0.108.0/examples/jsm/loaders/GLTFLoader.js",
                        "OrbitControls": "https://unpkg.com/three@0.108.0/examples/jsm/controls/OrbitControls.js"
                    }
                }
        </script>
    <script type="module" src="{% static 'app.js' %}"></script>
    <script type="module" src="{% static './3d.js' %}"></script>
    <script type="module" src="{% static './game/local_3d/pongLocal3d.js' %}"></script>
    <script src="{% static './assets/js/multi/components.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>
