<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" data-bs-theme="dark">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Protest+Strike&display=swap">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/grid.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/index/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/multi/style.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/local_pvp/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/local_3d/style.css' %}">
    <link rel="icon" href="data:,">
    <title>Transcendence</title>
</head>

<body>
    <div class="container-fluid mt-4">
        <div class="d-flex flex-column justify-content-center">
            <div class="offcanvas offcanvas-start" id="sidebar-menu">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title"></h1>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column justify-content-center">
                        {% if request.LANGUAGE_CODE == 'en' %}
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/local">Local</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/local_3d">3D</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/tournament">Tournament</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/multi">Multi</a></li>
                        {% elif request.LANGUAGE_CODE == 'ko' %}
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/">홈</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/local">로컬</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/local_3d">3D</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/tournament">토너먼트</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/multi">멀티</a></li>
                        {% elif request.LANGUAGE_CODE == 'fr' %}
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/local">Local</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/local_3d">3D</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/tournament">Tournoi</a></li>
                        <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" data-bs-dismiss="offcanvas" href="/multi">Multi</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <button class="btn btn-outline-secondary btn-sm d-xxl-none fa fa-bars text-white position-absolute top-0 start-0 p-3 m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-menu"></button>
            <div class="text-white text-center h1 mx-5 text-wrap" id="main-title"></div>
            <div class="d-flex justify-content-center" id="language-selection">
                <form class="d-flex" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <select class="form-select d-flex w-100 mt-2" name="language" id="language-select" onchange="this.form.submit()">
                        <option value="" selected="selected" disabled hidden>Select</option>
                        <option value="en">English</option>
                        <option value="ko">한국어</option>
                        <option value="fr">Français</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xxl-2 d-none d-xxl-block">
                <ul class="nav flex-column justify-content-center">
                    {% if request.LANGUAGE_CODE == 'en' %}
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/local">Local</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/local_3d">3D</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/tournament">Tournament</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/multi">Multi</a></li>
                    {% elif request.LANGUAGE_CODE == 'ko' %}
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/">홈</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/local">로컬</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/local_3d">3D</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/tournament">토너먼트</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/multi">멀티</a></li>
                    {% elif request.LANGUAGE_CODE == 'fr' %}
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/local">Local</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/local_3d">3D</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/tournament">Tournoi</a></li>
                    <li class="nav-item"><a class="nav-link text-decoration-none text-muted text-center text-white-hover fs-4" href="/multi">Multi</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-flex justify-content-center col-xxl-8 m-0 mb-5 p-0" id="app"></div>
            <div class="col-xxl-2 d-none d-xxl-block"></div>
        </div>
    </div>
    <script>
        const currentLanguage = "{{ request.LANGUAGE_CODE }}";
        document.addEventListener('DOMContentLoaded', () => {
            const languageSelect = document.getElementById('language-select');
            Array.from(languageSelect.options).forEach(option => {
                if (option.value === currentLanguage) {
                    option.selected = true;
                }
            });
        });
    </script>
    <script>
        function updateMaxWidth() {
            var style = document.createElement('style');
            document.head.appendChild(style);
            var sheet = style.sheet;
            var windowWidth = window.innerWidth;
            sheet.insertRule(`@media (max-width: ${windowWidth}px) { .offcanvas { max-width: ${windowWidth}px; } }`, 0);
        }
        updateMaxWidth();
        window.addEventListener('resize', updateMaxWidth);
    </script>
    <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.108.0/build/three.module.js",
                    "GLTFLoader": "https://unpkg.com/three@0.108.0/examples/jsm/loaders/GLTFLoader.js",
                    "OrbitControls": "https://unpkg.com/three@0.108.0/examples/jsm/controls/OrbitControls.js"
                }
            }
    </script>
    <script type="module" src="{% static 'app.js' %}"></script>
    <script type="module" src="{% static './3d.js' %}"></script>
    <script type="module" src="{% static './game/pong.js' %}"></script>
    <script type="module" src="{% static './game/local_pvp/pongLocal.js' %}"></script>
    <script type="module" src="{% static './game/tournament/pongTour.js' %}"></script>
    <script type="module" src="{% static './game/local_3d/pongLocal3d.js' %}"></script>
    <script type="module" src="{% static './game/multi/pongMulti.js' %}"></script>
    <script type="module" src="{% static './assets/js/multi/components.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
