<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game Main Page</title>
        <style>
                .main-title {
                        font-size: 48px;
                        text-align: center;
                        margin-top: 10px;
                        color: black;
                }
                .choice-button {
                        font-size: 32px;
                        width: fit-content;
                        height: fit-content;
                }
        </style>
</head>
<body>
        <h1 class="main-title">Welcome to the game page</h1>
        <button class="choice-button"><a href="local_pvp/" style="text-decoration: none !important;">local play</a></button>
</body>
</html>
